/*************************** CSS CUSTOM VARIABLES SCSS********************************/
:root{
	--primarycolor:red;
}
/*************************** DEFAULTS ***************************/
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
    color: red;
}
*,*::before,*::after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
.fullcontainer{
    height: 100vh;
    width: 100%;
    background: pink;
    display: flex;
    flex-direction: column;
}
.scene{
    flex-basis: 80%;
    background: yellow;
}
.controls{
    flex-basis:20%;
    background: blue;
}
/********************** NINJA ****************************/
/***************************/
.ninja::before , .ninja::after{
    position: absolute;
    content: "";
}
.red {
    left: calc(50% - (120px / 2));
    height: 110px;
    width: 120px;
  }
  .red .tail {
    top: 40%;
    left: -18px;
    height: 10px;
    width: 30px;
    background: #000000;
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  .red .tail:before, .red .tail:after {
    left: 6px;
    height: 70%;
    width: 100%;
    background: #000000;
  }
  .red .tail:before {
    top: -4px;
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  .red .tail:after {
    top: 8px;
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  .red .head {
    height: 110px;
    width: 120px;
    background: #DC002D;
    border: 2px solid #6A0306;
    -moz-border-radius: 45% 55% 45% 45%/55% 60% 40% 45%;
    -webkit-border-radius: 45%;
    border-radius: 45% 55% 45% 45%/55% 60% 40% 45%;
    -moz-box-shadow: inset -10px 8px 15px -5px rgba(237, 178, 144, 0.7);
    -webkit-box-shadow: inset -10px 8px 15px -5px rgba(237, 178, 144, 0.7);
    box-shadow: inset -10px 8px 15px -5px rgba(237, 178, 144, 0.7);
    overflow: hidden;
  }
  .red .head:before {
    height: 100%;
    width: 100%;
    -moz-box-shadow: inset 5px -5px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 5px -5px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 5px -5px 3px 2px rgba(0, 0, 0, 0.2);
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    z-index: 50;
  }
  .red .head:after {
    top: 65%;
    left: 25%;
    height: 100%;
    width: 100%;
    background: #E3C4AB;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
  }
  .red .eye {
    top: 34%;
    height: 26px;
    width: 24px;
    background: #FFFFFF;
    border: 2px solid #6A0306;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: -2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  }
  .red .eye .eyebrow {
    top: -4px;
    width: 130%;
    height: 12px;
    background: #000000;
  }
  .red .eye .pupil {
    top: 28%;
    left: 44%;
    height: 10px;
    width: 10px;
    background: #000000;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .red .eye .pupil:after {
    top: 32%;
    left: 54%;
    height: 20%;
    width: 20%;
    background: #FFFFFF;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
  }
  .red .eye.left {
    left: 47%;
    z-index: 10;
  }
  .red .eye.left .eyebrow {
    width: 140%;
    left: -35%;
    -moz-transform: skewY(12deg);
    -ms-transform: skewY(12deg);
    -webkit-transform: skewY(12deg);
    transform: skewY(12deg);
  }
  .red .eye.right {
    right: 10%;
    z-index: 8;
    -moz-box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
  }
  .red .eye.right .eyebrow {
    -moz-transform: skewY(-15deg);
    -ms-transform: skewY(-15deg);
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
  }
  .red .eye.right .pupil {
    left: 20%;
  }
  .red .mouth {
    top: 60px;
    left: 70px;
    height: 28px;
    width: 28px;
    background: #FCA90D;
    z-index: 60;
    border: 1px solid #000000;
    -moz-border-radius: 20% 0 20% 10%;
    -webkit-border-radius: 20%;
    border-radius: 20% 0 20% 10%;
    -moz-transform: rotate(34deg) skew(-15deg, 0deg);
    -ms-transform: rotate(34deg) skew(-15deg, 0deg);
    -webkit-transform: rotate(34deg) skew(-15deg, 0deg);
    transform: rotate(34deg) skew(-15deg, 0deg);
    -moz-box-shadow: inset 0 5px 5px 0 rgba(255, 255, 255, 0.3), inset 2px -4px 10px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 5px 5px 0 rgba(255, 255, 255, 0.3), inset 2px -4px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 5px 5px 0 rgba(255, 255, 255, 0.3), inset 2px -4px 10px 0px rgba(0, 0, 0, 0.4);
  }
  .red .mouth:before {
    top: -14px;
    left: -14px;
    width: 30px;
    height: 40px;
    border: 2px solid #000000;
    border-color: transparent #000000 transparent transparent;
    -moz-border-radius: 0 0 40% 0;
    -webkit-border-radius: 0;
    border-radius: 0 0 40% 0;
    -moz-transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
  }
  .red .hair {
    top: -18px;
    left: 28px;
    height: 30px;
    width: 12px;
    background: #DC002D;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
    border: 2px solid #6A0306;
    border-bottom-color: transparent;
  }
  .red .hair:before {
    top: 10px;
    left: 8px;
    height: 100%;
    width: 100%;
    background: #DC002D;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    border: 2px solid #6A0306;
    border-bottom-color: transparent;
  }
  .red .hair:after {
    top: 23px;
    left: -15px;
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    height: 20px;
    width: 30px;
    background: #DC002D;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }






