/*************************** CSS CUSTOM VARIABLES SCSS********************************/
:root{
  --basecolor :#0000ff;
  --distance : 5%;
  --blur : 0px;
}
/*************************** DEFAULTS ***************************/
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
}
*,*::before,*::after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
.fullcontainer{
    height: 100vh;
    width: 100%;
    background: pink;
    display: flex;
    flex-direction: column;
}
.scene{
    flex-basis: 80%;
    background: yellow;
    position: relative;
}
.controls{
    flex-basis:20%;
    background: blue;
}
.object{
  width: 10%;
  height: 30%;
  background: var(--basecolor);
  position: absolute;
  bottom: 5%;
  left: var(--distance);
  filter: blur(var(--blur));
}





