/*************************** CSS CUSTOM VARIABLES SCSS********************************/
:root{
  --basecolor :#7544d5;
  --distance : 5%;
  --blur : 0px;
}
/*************************** DEFAULTS ***************************/
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
}
*,*::before,*::after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
.fullcontainer{
    height: 100vh;
    width: 100%;
    background: pink;
    display: flex;
    flex-direction: column;
}
.scene{
    flex-basis: 80%;
    background: var(--basecolor);
    position: relative;
}
.controls{
    flex-basis:20%;
    background:#020203;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0% 7%;
}
.object{
  background: transparent;
  position: absolute;
  bottom: 5%;
  left: var(--distance);
  filter: blur(var(--blur));
  width: 15%;
  height: 30%;
  overflow: hidden;
  display: flex;
}

/*************** Ghost *******************/
.container {
  position: absolute;
  width: 100%;
  height: auto;
  margin: auto;
}
.shadowFrame {
  width: 130px;
  margin-top: 15px;
}
.shadow {
  transform-origin: center center;
}
.shadow ellipse {
  transform-origin: center center;
}
/**************************/
input{
  display: block;
}
label{
  display: block;
}
.controls div{
  flex-grow: 1;
}